$yellow: #ffe600;
$background-grey: #ebebeb;
$black-55: rgba(0, 0, 0, 0.55);
$black-90: rgba(0, 0, 0, 0.9);
$black-80: rgba(0, 0, 0, 0.8);
$green: #00a650;
$font-family: 'Proxima Nova', sans-serif;
$font-size: 16px;
$font-weight: 400;
